html, body {
	font-family: 'Open Sans', sans-serif;
}

/*How meshwar work*/
.hmw-banner {
    margin-top: -5px;
}
.hmw-sect-01 { padding-top: 100px;padding-bottom: 80px;}

.hmw-s1-wrap { max-width: 980px; margin: 0 auto;}
.hmw-sect-01 h4 { font-size: 35px; line-height: 40px; color: #211b17; font-weight: 300; padding-top: 35px;padding-bottom: 30px;
max-width: 795px; margin: 0 auto;
}
.hmw-sect-01 p { font-size: 25px; color: #211b17; font-weight: 300; padding-bottom: 15px; }
.hmw-sect-01 h3 { font-size: 38px; color: #ef6624; font-weight: 300;}

.hmw-sect-2 { padding-top: 100px;padding-bottom: 60px; background: #faf9f9; position: relative;}
.hmw-sect-2 section { position: relative;} 
.hmw-sect-2:after {
	
	content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 25px solid #fff;
    position: absolute;
    top: 0;
    right: 0;
	left: 0;
	margin: auto;
	
	
}

.hmw-sect-2 .centerd-heading1 h2 {
    font-size: 38px;
    line-height: 40px;
    color: #000000;
	
}
.hmw-cars {
    text-align: right;
     position: absolute; 
    width: 100%;
    height: 100%;
    
}

.hmw-cars img {
    float: right;
}

.hmw-s2-content {
       width: 60%;
}

.hmw-s2-wrap {min-height: 760px; padding-bottom: 40px; padding-top: 40px;}
.hmw-s2-wrap  .arrow-style { padding-top: 40px; padding-right:50px;}
.hmw-s2-wrap  .arrow-style li {
    font-size: 18px;
	
}

.hmw-sect-3 { padding-top: 90px;padding-bottom: 80px;  position: relative;}
.hmw-s3-r1 { padding-bottom: 60px; padding-top: 40px;}
.hmw-s3-r1 p {
    font-size: 18px;
}

.hmw-sect-3  .arrow-style li {
    font-size: 18px;
	
}
.hmw-sect4 .hiw-icon:nth-child(3n) {
    clear: none;
}
.hmw-sect4 .hiw-icon:nth-child(2n+1) {
    clear: left;
}

.hmw-sect4 {
    background: url(../images/hmw-sect4-bg.jpg);
    min-height: 2280px;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: cover;
	    background-position: center;
}

.hmw-sect4 .hiw-icon {

    padding: 15px 4%;
}
.hmw-sect4-heading { text-align: center; max-width: 1040px; margin: 0 auto;} 
.hmw-sect4-heading h3 { font-size: 35px; color: #000000; font-weight: 300; padding-bottom: 30px;}
.hmw-sect4-heading p{ font-size: 18px; color: #000000; font-weight: 400; padding-bottom: 30px;}


.hmw-sect4 .hiw > .col-sm-6::before {
    left: 30px;
    color: #f06817;
}

.hmw-sect4 .hiw-icon h4 {
    padding-left: 125px;
    text-align: left;
}

.hmw-sect4  .hiw-icon .img-wrap img {

    margin-left: 95px;
}
@media(max-width:1600px){
	.hmw-cars {
    top: 0;
}
	.hmw-s2-wrap {
    min-height: 710px;
	}
	.hmw-cars img {
    
    max-width: 600px;
    margin-top: 155px;
}
}
@media(max-width:1289px){
		.hmw-cars img {
    
    max-width: 500px;
    margin-top: 220px;
}
	.hmw-sect-01 h4 {
    font-size: 26px;
	}
	.hmw-sect-01 h3 {
    font-size: 27px;
	}
	.hmw-sect-01 p {
    font-size: 18px;
	}
	.hmw-sect4 {

	    background-position:right bottom;
}
	.hmw-sect-3 .arrow-style li ,.hmw-s2-wrap .arrow-style li {
    font-size: 16px;
}
}
@media(max-width:1199px){
	.hmw-cars img {
    max-width: 400px;
    margin-top: 290px;
}
}
@media(max-width:991px){
	
	.hmw-sect-3 .arrow-style li, .hmw-s2-wrap .arrow-style li {
    font-size: 14px;
    line-height: 26px;
}
	.hmw-cars img {
    max-width: 350px;
    margin-top: 320px;
}
	.hmw-sect4 {
    background-position: center bottom;
}
	.hmw-sect4 .hiw-icon h4 {
    padding-left: 0;
    text-align: center;
}

.hmw-sect4  .hiw-icon .img-wrap img {

    margin-left: 0;
	margin: 0 auto;
}
	
}

@media (max-width:767px){
	
	.hmw-cars {
    top: auto;
    position: relative;
    display: inline-block;
}
	
	.hmw-cars img {
    max-width: 50%;
    margin-top: 0;
}
	.hmw-s2-content {
    width: 100%;
}
	.hmw-s2-wrap .arrow-style {
   
    padding-right: 0;
}
	.hmw-sect-01 h4 {
    font-size: 24px;
}
	.hmw-s3-r1 {
    padding-bottom: 40px;
	}
	.hmw-s3-r1 p {
    font-size: 16px;
}
	.hmw-sect-3 .img-wrap img { margin: 0 auto;}
	.hmw-sect-2 .centerd-heading1 h2 {
    font-size: 30px;
    line-height: 30px;
		
	}
	
	.hmw-sect-01 ,.hmw-sect-2 ,.hmw-sect-3 {
    padding-top: 50px;
    padding-bottom: 60px;
}
}

@media (max-width:480px){
	.hmw-cars img {
    max-width: 100%;
    margin-top: 0;
}
}
/*How meshwar work end*/





.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #333 !important;
}
.h-top-right ul li .dropdown {
	margin-right: 20px;
}
.info-links {
	display: inline-block;
}
.login-links {
	display: inline-block;
	position: relative;
}
.etc-links {
	display: inline-block;
	position: relative;
}
.etc-links:before {
	content: "|";
	position: absolute;
	top: 7px;
	left: -7px;
	font-size: 13px;
}
span.vl {
	font-size: 13px;
}
.lang-chnager {
	display: inline-block;
	/*min-width: 100px;*/
	font-family: monospace, monospace;
}
a {
	text-decoration: none !important;
}
.info-links a {
	font-size: 13px;
	color: #000;
	padding: 5px 20px;
	display: inline-block;
	line-height: 22px;
	text-transform: uppercase;
}
.info-links a:hover {
	color: #ef6624;
}
.login-links {
	color: #000;
}
.login-links a {
	display: block;
	font-size: 13px;
	height: 29px;
	border: 2px solid;
	line-height: 27px;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	border-radius: 30px;
	margin-right: 10px;
	min-width: 100px;
}
.login-links .signin {
	border: 2px solid #ef6624;
	min-width: 120px;
}
.login-links .signin:hover {
	background: #ef6624;
	color: #fff;
	border: 2px solid #ef6624;
}
.login-links .signup {
	background: #ef6624;
	color: #fff;
	border: 2px solid #ef6624;
}
.login-links .signup:hover {
	background: #fff;
	color: #000;
}
.login-links .dropdown-menu {
	width: 100%;
	border-radius: 25px;
	background: #444444;
	color: #fff;
	margin-top: 5px;
}
.login-links .login-user {
	background: #ef6624;
	color: #fff;
	border: 2px solid #ef6624;
	padding: 0 15px;
	margin-right: 0;
	min-width: 183px;
}
.login-links .login-user:hover {
	background: #fff;
	color: #000;
}
.login-links .login-user i {
	padding: 0 5px;
}
.login-links .login-user i.fa-caret-down {
	float: right;
	display: inline-block;
	line-height: 24px;
}
.login-links .dropdown-menu ul {
	padding-top: 10px;
	padding-bottom: 10px;
}
.login-links .dropdown-menu ul li {
	display: block;
	width: 100%;
}
.login-links .dropdown-menu ul li a {
	border-radius: 0 !important;
	display: block;
	color: #fff !important;
	border: none;
	width: 100%;
	text-align: left;
	padding: 0 15px;
	margin-right: 0;
}
.login-links .dropdown-backdrop {
	display: none;
}
.login-links .dropdown-menu ul li a:hover {
	color: #ef6624 !important;
}
.login-links .dropdown-menu ul li a i {
	padding: 0 7px;
	position: relative;
	top: 0;
}
.etc-links {
	padding-left: 10px;
}
.etc-links a {
	font-size: 13px;
	display: block;
	height: 29px;
	border: 2px solid;
	line-height: 27px;
	padding: 0 25px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 30px;
	margin-right: 20px;
	background: #fff;
	color: #000;
	border: 2px solid #ef6624;
	min-width: 100px;
}
.etc-links a:hover {
	background: #ef6624;
	color: #fff;
}
.h-top-right a {
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.h-top-right {
	text-align: right;
	padding-top: 0;
}
.lang-chnager a {
	font-size: 20px;
	color: #000;
	line-height: 24px;
}
.lang-chnager a:hover {
	color: #ef6624;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.h-top-right ul {
}
.h-top-right ul li {
	display: inline-block;
}
.banner {
	background: url(../images/top-banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 788px;
	width: 100%;
	position: relative;
	margin-top: -4px;
}
.h-sect-01 {
	background: url(../images/h-s1-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 639px;
	width: 100%;
	margin-top: -75px;
	position: relative;
}
.header {
	padding-top: 38px;
	padding-bottom: 38px;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
	display: inline-block;
	width: 100%;
	position: relative;
	z-index: 11;
}
.banner-heading {
	padding-top: 190px;
	padding-bottom: 110px;
}
.banner-heading h2 {
	font-size: 54px;
	text-align: center;
	color: #fff;
	line-height: 60px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 15px;
}
.facebook-login {
	padding-bottom: 20px;
}
.facebook-login a {
	background: #4d73c4;
	color: #fff;
	display: block;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	line-height: 1;
	padding: 18px 10px;
	border-radius: 40px;
	font-size: 13px;
}
.google-login {
	padding-bottom: 20px;
}
.google-login a {
	background: #dd5144;
	color: #fff;
	display: block;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	line-height: 1;
	padding: 18px 10px;
	border-radius: 40px;
	font-size: 13px;
}
.facebook-login i, .google-login i {
	padding-right: 10px;
}
.facebook-login a:hover, .google-login a:hover {
	opacity: 0.9;
}
.forgot-bot-link {
	color: #ed6528;
	font-size: 15px;
	margin-bottom: 0;
	font-weight: 600;
	text-align: center;
}
.forgot-bot-link a {
	color: #ed6528;
	text-decoration: underline !important;
}
.bot-banner-txt {
	background: rgba(239, 102, 36, 0.7);
	color: #fff;
	font-weight: 300;
	text-align: center;
	font-size: 34px;
	padding-top: 14px;
	padding-bottom: 13px;
}
.ban-subh {
	font-size: 21px;
	text-align: center;
	color: #fff;
	line-height: 22px;
	font-weight: 300;
}
.banner-form {
	background: rgba(0,0,0,.6);
	min-height: 130px;
	position: absolute;
	width: 100%;
	bottom: 100px;
	padding-top: 20px;
}
.b-f-col-1 {
	float: left;
	width: 415px;
}
.b-f-col-2 {
	float: left;
	width: 330px;
}
.b-f-col-3 {
	float: left;
	width: 330px;
}
.b-f-col-4 {
	float: left;
	width: 135px;
}
.b-f-col-1 .input-wrap {
	width: 48%;
	display: inline-block;
	margin-right: 1%;
}
.b-f-col-2 .input-wrap, .b-f-col-3 .input-wrap {
	width: 49%;
	display: inline-block;
	margin-right: -5px;
}
.b-f-col-2 .input-wrap input.timepicker, .b-f-col-3 .input-wrap input.timepicker {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.b-f-col-2 .input-wrap input.datepicker, .b-f-col-3 .input-wrap input.datepicker {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input-wrap {
	position: relative;
}
span.input-icon {
	position: absolute;
	color: #ef6624;
	right: 20px;
	top: 50%;
	margin-top: -9px;
	pointer-events: none;
}
.banner-form input[type="text"], .banner-form input[type="time"], .banner-form input[type="date"] {
	height: 57px;
	background: #fff;
	border-radius: 40px;
	width: 100%;
	padding: 10px 15px 10px 40px;
	border: 1px solid #fff;
	color: #555555;
	font-size: 16px;
	outline: none !important;
}
.theme-btn1 {
	height: 50px;
	background: #ef6624;
	color: #fff;
	border-radius: 40px;
	padding: 12px 35px;
	border: 1px solid #ef6624;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
	outline: none !important;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.banner-form .theme-btn1 {
	height: 57px;
	line-height: 34px;
	padding: 12px 41px;
}
.form-wrap .theme-btn1 {
	height: 57px;
	line-height: 34px;
	padding: 12px 41px;
}
.banner-form .theme-btn1 {
	margin-top: 28px;
}
.theme-btn1:hover {
	background: #fff;
	color: #ef6624;
}
.theme-btngray {
	height: 50px;
	background: #555555;
	color: #fff;
	border-radius: 40px;
	padding: 10px 41px;
	border: 1px solid #555555;
	font-size: 14px;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
	outline: none !important;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.theme-btngray:hover {
	background: #fff;
	color: #ef6624;
	border: 1px solid #ef6624;
}
.form-wrap .theme-btngray {
	height: 57px;
	line-height: 37px;
}
.form-wrap .action-btns .btn {
	margin-right: 10px;
}
.b-f-col-h {
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-left: 15px;
}
.centerd-heading1 h2 {
	font-size: 42px;
	line-height: 45px;
	color: #f06817;
	position: relative;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 300;
}
.centerd-heading1 h2:after {
	content: "";
	width: 120px;
	height: 1px;
	background: #ef6624;
	display: block;
	margin: 30px auto 0;
}
.centerd-heading1 h2 b {
	font-weight: 400;
}
p {
	font-size: 17px;
	color: #000;
	line-height: 32px;
}
.h-sect-01-content .s-wrap {
	max-width: 1092px;
	padding-bottom: 30px;
}
.h-sect-01-content .s-wrap p {
	padding-bottom: 25px;
}
.c1 p {
	font-size: 18px;
	line-height: 32px;
}
.c1 p a {
	text-decoration: none !important;
	color: #ef6624;
}
.whyicons {
	padding-top: 20px;
}
.h-sect1-row2 .whyicon {
	text-align: center;
	margin-bottom: 30px;
}
.h-sect1-row2 .whyicon .img-wrap img {
	margin: 0 auto;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	position: relative;
}
.h-sect1-row2 .whyicon a {
	font-size: 14px;
	color: #000;
}
.h-sect1-row2 .whyicon:hover > .img-wrap img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.h-sect1 {
	padding-top: 65px;
	padding-bottom: 0;
	height: 500px;
}
.h-sect1 h2 {
	margin-bottom: 0;
}
.h-sect1-row2 {
	/*background: url(../images/h-s1-car.png);*/
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 15px;
	position: relative;
}
.h-sect1-row2-img {
	background: url(../images/h-s1-car.png);
	background-repeat: no-repeat;
	height: 740px;
	background-position: 107% center;
	position: absolute;
	width: 100%;
	top: 0;
}
.h-sect1-row2 .col-sm-7 {
	width: 63%;
}
.h-sect1-ct {
	padding-top: 70px;
	padding-bottom: 40px;
}
.h-sect1-ct p {
	padding-bottom: 20px;
}
.h-sect1-row2-content {
	position: relative;
}
.car-carosal-warp {
	padding-top: 40px;
}
.car-box {
	margin-right: 7px;
}
.car-box {
	outline: none !important;
}
.car-box .img-wrap {
	position: relative;
}
.top-cap {
	margin-top: 0;
	color: #7f7f7f;
	font-size: 14px;
	text-transform: uppercase;
	bottom: 20px;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 222;
}
.top-cap-left {
	float: left;
	padding-left: 30px;
}
.top-cap-left h5 {
	font-size: 35px;
	color: #fff;
	font-weight: 600;
	margin: 5px 0;
}
.top-cap-right {
	float: right;
	padding-right: 30px;
	text-align: right;
}
.top-cap-right h5 {
	font-size: 30px;
	color: #f16726;
	font-weight: 700;
	margin: 5px 0;
}
.cap-bot {
	clear: both;
	background: url(../images/car-slider-shade.png);
	background-size: auto 100%;
	padding-top: 20px;
	padding-left: 30px;
	background-repeat: no-repeat;
	margin-top: -1px;
}
.loc-title {
	font-size: 16px;
	color: #000;
	font-weight: 700;
	margin-bottom: 10px;
}
.area-name {
	font-size: 16px;
	color: #000;
}
.slick-prev {
	background: url(../images/icon-prev.png) no-repeat center;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	text-indent: -9999px;
	outline: none !important;
	position: absolute;
	left: 17%;
	top: 47%;
	z-index: 222;
	margin-top: -20px;
}
.slick-next {
	background: url(../images/icon-next.png) no-repeat center;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	text-indent: -9999px;
	position: absolute;
	right: 16%;
	top: 47%;
	z-index: 222;
	margin-top: -20px;
	outline: none !important;
}
.h-sect3 {
	padding-top: 80px;
	padding-bottom: 65px;
}
.heading-text {
	font-size: 15px;
	color: #000;
	line-height: 25px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 20px;
}
.h-sect3 .heading-text {
	width: 77%;
}
.h-sect3 .car-icons {
	width: 80%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 60px;
}
.car-icon {
	margin-bottom: 30px;
}
.car-icon .icon-wrap img {
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.car-icon:hover > .icon-wrap img {
	filter: drop-shadow(0px 0px 3px rgba(239, 102, 36, 0.8));
	-webkit-filter: drop-shadow(0px 0px 3px rgba(239, 102, 36, 0.8));
}
.car-icons .icon-wrap img {
	margin: 0 auto;
}
.car-icon .desc {
	padding-top: 15px;
}
.car-icon .desc p {
	font-size: 15px;
	color: #000;
}
.car-icon h4 {
	font-size: 22px;
	text-transform: uppercase;
	color: #ef6624;
}
.h-sect2 {
	overflow: hidden;
}
.h-sect2 .car-box {
	float: left;
}
.h-sect4 {
	background: url(../images/h-sect4-bg.jpg);
	min-height: 1050px;
	background-repeat: no-repeat;
	padding-top: 60px;
	padding-bottom: 60px;
	background-size: cover;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 400;
}
.h-sect4 .action-btns {
	margin-top: 10px;
	margin-bottom: 40px;
}
.h-sect4 .lunch-note {
	color: #f06817;
	max-width: 1048px;
	margin: 0 auto;
	line-height: 25px;
	padding-top: 10px;
	font-weight: 500;
}
.hiw-icon p {
	font-size: 15px;
	line-height: 35px;
}
.centerd-heading1 {
	text-align: center;
}
.h-sect4 .heading-text h4 {
	font-size: 23px;
	text-align: center;
	font-weight: 400;
}
.hiw {
	counter-reset: section;
}
.hiw-icon {
	text-align: center;
	margin-bottom: 10px;
	padding: 15px 9%;
}
.hiw-icon .img-wrap img {
	margin: 0 auto;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	position: relative;
}
.hiw-icon a {
	font-size: 14px;
	color: #000;
}
.hiw-icon:hover > .img-wrap img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.hiw-icon .img-wrap {
	position: relative;
}
.hiw-icon h4 {
	font-size: 22px;
	text-transform: uppercase;
	color: #f06817;
}
.hiw-icon .desc {
	position: relative;
	font-size: 15px;
	color: #000;
}
.hiw-icon:nth-child(3n) {
	clear: left;
}
.hiw > .col-sm-6::before {
	counter-increment: section;
	content: counter(section);
	position: absolute;
	left: 23%;
	font-size: 219px;
	color: #cccccc;
	top: 0;
	line-height: 1;
	font-weight: 600;
}
.h-sect5 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.c1532 {
	max-width: 1532px;
	margin: auto;
	padding-top: 40px;
	display: table;
}
.c1532 .col-sm-3 {
	padding-left: 10px;
	padding-right: 10px;
}
.tl-wrap {
	position: relative;
	overflow: hidden;
}
.tl-wrap .img-cpation {
	position: absolute;
	width: 100%;
	bottom: -75%;
	color: #fff;
	height: 100%;
	padding: 20px;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.tl-wrap .img-cpation .address {
	font-size: 20px;
	font-weight: 300;
}
.tl-wrap .img-cpation .address i {
	padding-right: 10px;
	font-size: 16px;
}
.tl-wrap .img-cpation h4 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 5px;
	position: relative;
	top: 30px;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.tl-wrap .img-cpation .capacity {
	font-size: 16px;
}
.tl-wrap .img-cpation .owner {
	color: #f06817;
	font-size: 16px;
	margin-top: 20px;
}
.tl-wrap:hover > .img-cpation {
	bottom: 0;
	background: rgba(0, 0, 0, 0.72);
	padding-top: 80px;
}
.tl-wrap:hover > .img-cpation > .desc h4 {
	top: auto;
}
/*==================================*/

.arrow-style li {
	font-size: 20px;
	color: #231f20;
	margin-bottom: 25px;
	position: relative;
	line-height: 30px;
	padding-left: 35px;
}
.arrow-style li:before {
	content: "\e092";
	position: absolute;
	left: 0px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	height: 20px;
	width: 20px;
	line-height: 29px;
}
.social-w-b-bar {
	position: relative;
	text-align: center;
	margin-bottom: 25px;
}
.social-w-b-bar:after {
	content: "";
	width: 100%;
	height: 1px;
	background: #cccccc;
	display: block;
	position: absolute;
	top: 50%;
}
.social-w-b-bar span {
	width: 40px;
	height: 40px;
	background: #fff;
	font-size: 14px;
	color: #999999;
	display: inline-block;
	z-index: 222;
	position: relative;
	border-radius: 100%;
	line-height: 40px;
}
.dont-have-acc-link {
	font-size: 18px;
	color: #000000;
	text-align: center;
	padding: 15px 0 20px 0;
}
.textarea-213h {
	height: 213px;
	resize: none;
}
.top-poplink-addcar {
	padding-top: 0 !important;
	padding-bottom: 15px;
	text-align: right;
	padding-right: 0 !important;
}
.steps {
	padding-bottom: 40px;
}
.steps ul {
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	height: 135px;
}
.steps ul:before {
	content: "";
	height: 13px;
	width: 100%;
	background: #f1a226;
	background: -moz-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: -webkit-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: linear-gradient(to right, #f1a226 0%, #ef6624 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1a226', endColorstr='#ef6624', GradientType=1 );
	display: block;
	position: absolute;
	bottom: 27px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
}
.steps ul li {
	display: inline-block;
	width: 33%;
	position: relative;
}
.steps ul li a {
	display: block;
}
.steps ul li a span {
	display: block;
}
.step-text {
	font-size: 20px;
	color: #000;
	padding-bottom: 10px;
}
.step-count {
	width: 65px;
	height: 65px;
	background: #999999;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 68px;
	border-radius: 100%;
	position: absolute;
	z-index: 2;
	box-shadow: 3px 4px 60px rgba(0, 0, 0, 0.4);
}
.step-count:before {
	width: 60px;
	height: 60px;
	margin: auto;
	content: "";
	display: block;
	border-radius: 100%;
	position: absolute;
	background: #aaaaaa;
	background: -moz-linear-gradient(left, #aaaaaa 0%, #939393 100%);
	background: -webkit-linear-gradient(left, #aaaaaa 0%, #939393 100%);
	background: linear-gradient(to right, #aaaaaa 0%, #939393 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#939393', GradientType=1 );
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	border: 5px solid #9a9a9a;
}
.steps a.active .step-count {
	background: #ff9b00;
}
.steps a.active .step-count:before {
	width: 60px;
	height: 60px;
	margin: auto;
	content: "";
	display: block;
	border-radius: 100%;
	position: absolute;
	background: #aaaaaa;
	background: -moz-linear-gradient(left, #fe6e00 0%, #ff9d00 100%);
	background: -webkit-linear-gradient(left, #fe6e00 0%, #ff9d00 100%);
	background: linear-gradient(to right, #fe6e00 0%, #ff9d00 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6e00', endColorstr='#ff9d00', GradientType=1 );
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	border: 5px solid #fe8f00;
}
.step1 .step-count {
	left: -10px;
}
.step2 .step-count {
	margin: auto;
	left: 0;
	right: 0;
}
.step3 .step-count {
	right: -10px;
}
.step1 .step-text {
	text-align: left;
}
.step2 .step-text {
	text-align: center;
}
.step3 .step-text {
	text-align: right;
}
/*------------------===============--------------------------*/






.full {
	clear: both;
	width: 100%;
}
.h-s-brown {
	background: url(../images/h-s-brown-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 615px;
	background-position: center center;
	padding-top: 90px;
	padding-bottom: 90px;
	position: relative;
}
.h-s-brown .centerd-heading1 h2 {
	color: #fff;
}
.h-s-brown .centerd-heading1 h2:after {
	background: #f06817;
}
.h-s-brown .centerd-heading1 p {
	color: #fff;
	font-size: 18px;
	padding-bottom: 20px;
}
.h-s-brown .s-wrap {
	max-width: 1014px;
	margin: 0 auto;
}
.h-s-map {
	background: url(../images/h-s-map-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 715px;
	background-position: center center;
	padding-top: 200px;
	padding-bottom: 90px;
	position: relative;
}
.h-s-map .centerd-heading1 h2, .h-s-car .centerd-heading1 h2 {
	color: #000000;
}
.h-s-map .centerd-heading1 h2:after, .h-s-car .centerd-heading1 h2:after {
	background: #000000;
}
.h-s-map .centerd-heading1 p {
	color: #000000;
	font-size: 18px;
	padding-bottom: 20px;
}
.h-s-map .s-wrap {
	max-width: 1010px;
	margin: 0 auto;
}
.h-s-car h5 {
	font-size: 20px;
	font-weight: 400;
	padding-bottom: 30px;
}
.h-s-car {
	background: url(../images/h-s-car-bg.jpg);
	background-repeat: no-repeat;
	min-height: 872px;
	background-position: center center;
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 90px;
	position: relative;
}
.h-sect6 {
	background: #f9f9f9;
	padding-top: 220px;
	padding-bottom: 70px;
}
.h-sect6 .h-s6-img {
	width: 48%;
}
.h-sect6 .h-s6-c {
	width: 52%;
}
.h-sect6 .h-s6-c p {
	margin-bottom: 18px;
}
.left-heading1 h2 {
	font-size: 45px;
	font-weight: 300;
	color: #f06817;
	border-bottom: 1px solid #f06817;
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: 30px;
	margin-top: 5px;
}
.b2 {
	margin-left: 10px;
}
.h-sect6 ul li {
	font-size: 14px;
	color: #231f20;
	margin-bottom: 15px;
	position: relative;
}
.h-sect6 ul li:before {
	content: "\e091";
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-left: 10px;
}
.h-sect6 ul {
	margin-bottom: 40px;
}
.footer {
	background-color: #080808;
	background-image: url(../images/footer-bg.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 310px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer p {
	color: #fff;
}
.footer p a {
	color: #f06817;
}
.centerd-heading2 {
	text-align: center;
}
.centerd-heading2 h2 {
	font-size: 52px;
	line-height: 55px;
	color: #fff;
	display: inline-block;
	position: relative;
	border-bottom: 1px solid #ef6624;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 300;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
}
.social ul li {
	display: inline-block;
	padding: 5px 15px;
}
.social ul li:first-child {
	padding-left: 10px;
}
.footer-links {
	padding-top: 28px;
}
.footer-links li {
	display: inline-block;
}
.footer-links li a, .footer-links li span {
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	padding: 5px 5px;
}
.oringe-text {
	color: #f1a226;
}
.copyrights {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 10px;
}
.verify {
	background: #56ae00;
	height: 28px;
	font-size: 12px;
	color: #fff;
	display: inline-block;
	padding: 6px 15px 5px;
	min-width: 87px;
	border-radius: 15px;
	text-transform: uppercase;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -14px;
}
.unverify {
	display: none !important;
}
.verify:after {
	right: -2px;
	top: 0px;
	content: "\e013";
	font-family: 'Glyphicons Halflings';
	color: #fff;
	font-size: 12px;
	background: #56ae00;
	border-radius: 100%;
	border: 2px solid #fff;
	display: block;
	width: 28px;
	height: 28px;
	line-height: 25px;
	text-align: center;
	position: absolute;
}
.verification-code {
	position: relative;
}
textarea.form-control {
	min-height: 155px;
	border-radius: 15px;
	padding: 25px 25px;
	resize: none;
}
.fileUpload {
	position: relative;
	overflow: hidden;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 100%;
	height: 100%;
	border-radius: 30px;
}
.fileUpload .input-file {
	height: 100%;
	line-height: 47px;
}
/*inner pages*/


.form-group .select2-container--default .select2-selection--single, .mdrp .select2-container--default .select2-selection--single {
	border: none;
	border-radius: 0;
	display: block;
	width: 100%;
	height: 57px;
	padding: 6px 25px;
	font-size: 12px;
	line-height: 57px;
	color: #333;
	background-color: #f5f5f5;
	background-image: none;
	border: none;
	/* text-transform: uppercase; */
	border-radius: 30px;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none !important;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-group .select2-container--default .select2-selection--single .select2-selection__rendered, .mdrp .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #333;
	line-height: 45px;
	text-transform: uppercase;
	padding: 0;
}
.form-group .select2-container--default .select2-selection--single .select2-selection__arrow, .mdrp .select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}
.select2-dropdown {
	border: 1px solid #f5f5f5 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(240, 119, 37, 0), 0 0 12px rgba(241, 154, 38, 0.52);
	box-shadow: inset 0 1px 1px rgba(240, 119, 37, 0), 0 0 12px rgba(241, 154, 38, 0.52);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #ef6624 !important;
	color: #fff;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
	border: 1px solid #aaa;
	outline: #ef6624;
}
.form-group .d-c span.select2-selection.select2-selection--single {
	height: 42px;
	border: 1px solid #e0e0e0;
	padding: 0px 30px 0px 20px !important;
	margin-top: 2px;
	line-height: 42px;
	text-align: center;
}
.form-group .d-c .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 42px;
}
.d-input .icon-wrap .select2 + span.input-icon {
	margin-top: -8px;
}
.form-group .select2-container--open span.select2-selection.select2-selection--single {
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(240, 119, 37, 0), 0 0 12px rgba(241, 154, 38, 0.52);
	box-shadow: inset 0 1px 1px rgba(240, 119, 37, 0), 0 0 12px rgba(241, 154, 38, 0.52);
}
/*******Step2***********/
.heading-4 h4 {
	font-size: 12px;
	margin-top: 0;
	font-weight: 800;
	color: #333333;
	text-transform: uppercase;
}
.pricing-input-warp h5 {
	font-size: 12px;
	margin-top: 0;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 48px;
	color: #333333;
	text-transform: uppercase;
}
.hourly-rental .t-radio, .with-driver .t-radio {
	display: inline-block;
	width: 30%;
}
.hourly-rental, .with-driver {
	padding-top: 10px;
	padding-bottom: 20px;
}
.step2-row1 {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
	padding-top: 5px;
}
.step2-row2 {
	padding-bottom: 10px;
	padding-top: 25px;
}
.step2-row3 {
	padding-bottom: 10px;
	padding-top: 25px;
	margin-left: -25px;
	margin-right: -25px;
}
.row-body-pricing {/*background: rgba(240, 104, 23, 0.10);*/
	margin-top: 20px;
}
.pricing-input-warp {
	padding-top: 0;
}
.pricing-input-warp .col-sm-3, .pricing-input-warp .col-sm-4, .pricing-input-warp .col-sm-2 {
	height: 48px;
}
.pricing-input-warp .col-sm-2 .pricing-input .form-control {
	text-align: center;
}
.pricing-input-warp .form-control, .price-right-warp .form-control, .s2 .form-control {
	display: inline-block;
	width: 100%;
	height: 31px;
	padding: 2px 15px;
	font-size: 11px;
	line-height: 1.42857143;
	color: #333;
	background-color: rgba(245, 245, 245, 0);
	background-image: none;
	border: 1px solid #ddd;
	text-transform: uppercase;
	border-radius: 30px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	min-width: 100px;
	text-align: center;
	color: #959595;
}
.pricing-input-warp .form-control:focus, .price-right-warp .form-control:focus, .s2 .form-control:focus {
	border: 1px solid #f19626;
}
.pricing-input-warp .form-control[disabled], .s2 .form-control[disabled] {
	opacity: 0.5;
}
.price-right-warp .form-control {
	width: 90%;
}
.step2-row3 .form-control::-moz-placeholder, .s2 .form-control::-moz-placeholder {
 color: #959595;
}
.step2-row3 .form-control:-ms-input-placeholder, .s2 .form-control:-ms-input-placeholder {
 color: #959595;
}
.step2-row3 .form-control::-webkit-input-placeholder, .s2 .form-control::-webkit-input-placeholder {
 color: #959595;
}
.price-right-warp .icon-wrap {
	max-width: 70%;
	margin: 0 auto;
}
.step2-row3 .price-right-warp .icon-wrap span.input-icon, .s2 .icon-wrap span.input-icon {
	right: 25px;
}
.pricing-input-warp .icon-wrap, .s2 .icon-wrap {
	display: inline-block;
	position: relative;
}
.pricing-input-warp .row {
	background: rgba(240, 104, 23, 0.10);
	padding-left: 25px;
	padding-right: 25px;
}
.pricing-input-warp .row.disabled {
	background: rgba(229, 229, 229, 0.3);
}
.price-right-warp .r-r {
	background: rgba(240, 104, 23, 0.10);
	height: 48px;
}
.price-right-warp .r-r.disabled {
	background: rgba(229, 229, 229, 0.3);
}
.form-wrap .step2-row3 .row div[class^="col-"] {
	padding-left: 0;
	padding-right: 0;
}
.form-wrap .step2-row3 .row {
	margin-right: 0px;
	margin-left: 0px;
}
.step2-row3 .icon-wrap span.input-icon {
	position: absolute;
	color: #333333;
	right: auto;
	top: 50%;
	right: 12px;
	margin-top: -8px;
	pointer-events: none;
	font-size: 11px;
}
.step2-row3 .icon-wrap .form-control {
	padding-right: 25px;
}
.pricing-input {
	text-align: center;
	padding-top: 9px;
}
.heading-btn {
	font-size: 12px;
	text-transform: uppercase;
	background: #ef6624;
	display: inline-block;
	padding: 7px 20px;
	color: #fff;
	width: 100%;
	text-align: center;
	border-radius: 30px;
	max-width: 180px;
}
.row-heading .row {
	padding-left: 25px;
	padding-right: 25px;
}
.price-right-warp {
	border-left: 1px solid #cccccc;
}
.price-right-warp .heading-4 h4 {
	margin-bottom: 0;
	line-height: 48px;
}
.unlimitedKm .t-checkbox {
	display: inline-block;
}
.unlimitedKm {
	padding-top: 14px;
}
.unlimitedKm .checkmark {
	background: #56ae00 !important;
}
.row-footer-price {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.pdr-note {
	font-size: 10px;
	text-transform: uppercase;
	color: #333333;
	padding-top: 5px;
	padding-bottom: 10px;
}
.pdr .col-sm-9 {
	padding-top: 7px;
}
.pdr {
	padding-top: 10px;
}
.price-discount {
	border-right: 1px solid #ccc;
	padding-right: 25px;
	padding-top: 15px;
}
.is-smoking-allowed .radiobox {
	padding-top: 10px;
	margin-bottom: 20px;
}
.inline .t-radio {
	display: inline-block;
	padding-right: 40px;
}
.is-smoking-allowed {
	padding-top: 15px;
	padding-left: 15px;
}
.mdrp .heading-4 {
	padding-bottom: 15px;
	padding-top: 10px;
}
.mdrp .form-control {
	height: 48px;
}
.no_discount .checkmark, .airport_free_delivery .checkmark, .area1_free_delivery .checkmark, .area2_free_delivery .checkmark {
	background: #56ae00 !important;
}
.gas-policy {
	padding-left: 15px;
	padding-top: 15px;
	border-left: 1px solid #ccc;
}
.gas-policy .input-note {
	padding-left: 0;
	line-height: 20px;
}
.price-discount, .is-smoking-allowed, .gas-policy {
	min-height: 225px;
}
.step2-row4 .colright, .step2-row4 .colleft {
	width: 35%;
}
.step2-row4 .colcenter {
	width: 30%;
}
.step2-row4 {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 25px;
}
.mdrp .icon-wrap {
	width: 70%;
}
.step2-row5 {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 30px;
	padding-top: 30px;
}
.step2-row5 .heading-4 {
	padding-bottom: 15px;
}
.step2-row5 .input-note {
	line-height: 20px;
	padding-top: 0;
}
.step2-row5 .s2 {
	padding-top: 15px;
}
.step2-row5 .s2 .icon-wrap {
	width: 55%;
}
.step2-row6 {
	padding-bottom: 30px;
	padding-top: 30px;
}
.step2-row6 .heading-4 {
	padding-bottom: 15px;
}
.step2-row6 .input-note {
	line-height: 20px;
	padding-top: 0;
}
.deliveryrow {
	padding-top: 15px;
}
.deliveryrow .heading-4 {
	padding-bottom: 7px;
	padding-left: 20px;
}
.airport_free_delivery, .area1_free_delivery, .area2_free_delivery {
	padding-top: 5px;
}
.s2-6-price-sect {
	padding-top: 25px;
}
.form-wrap .row.deliveryrow {
	margin-right: -15px;
	margin-left: -15px;
}
.form-wrap .row.deliveryrow>div[class^="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}
.row.deliveryrow .col-sm-3 {
	width: 28%;
}
.pdr-input-wrap.disabled .pdr, .deliveryrow.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
.pdr-input-wrap.disabled .pdr *, .deliveryrow.disabled * {
	cursor: not-allowed;
}
/*================Step2 end===================*/
/********Step 3********/
.step3-wrap .d-input .d-label {
	width: 48%;
}
.step3-wrap .d-input .d-c {
	width: 52%;
}
.step3-wrap .col-sm-7 {
	width: 55%;
}
.step3-wrap .col-sm-5 {
	width: 45%;
}
.step3-wrap .col-sm-3 {
	width: 28%;
}
.step3-wrap .input-note {
	padding-top: 20px;
}
.step3-wrap .form-group {
	margin-bottom: 15px;
}
.step3-row1, .step3-row2 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.step3-row3 {
	padding-bottom: 10px;
	margin-bottom: 30px;
}
/*==============Step3 end====================*/
.d-input {
	display: block;
	width: 100%;
	height: 57px;
	padding: 6px 10px 6px 25px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #333;
	background-color: #f5f5f5;
	background-image: none;
	border: none;
	text-transform: uppercase;
	border-radius: 30px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.d-label {
	display: inline-block;
	width: 30%;
	/*float: left;*/
	line-height: 48px;
}
.d-c {
	display: inline-block;
	text-align: right;
	width: 70%;
	float: right;
}
.inline-select {
	display: inline-block;
	padding-left: 10px;
}
.d-input .inline-select .input-select {
	height: 42px;
	border: 1px solid #e0e0e0;
	padding: 6px 50px 6px 40px;
	margin-top: 2px;
}
.d-input .icon-wrap span.input-icon {
	position: absolute;
	color: #333333;
	right: auto;
	top: 55%;
	right: 18px;
	margin-top: -9px;
	pointer-events: none;
}
.phonecode {
	width: 33%;
	position: relative;
}
.phonenumber {
	width: 66%;
}
.phonecode input {
	height: 42px;
	border: 1px solid #e0e0e0;
	padding: 6px 25px 6px 45px;
	margin-top: 2px;
}
.phonenumber input {
	height: 42px;
	border: 1px solid #e0e0e0;
	padding: 6px 45px;
	margin-top: 2px;
}
.phonecode input:focus, .phonenumber input:focus {
	border: 1px solid #e0e0e0;
}
.phonecode:before {
	content: "\002b";
	top: 38%;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	left: 32px;
	position: absolute;
	color: #aaaaaa;
}
.custom-uploader {
	position: relative;
}
/*.custom-uploader .upload { display: none;}*/


#ssi-abortBtn, #ssi-uploadBtn, #ssi-clearBtn, #ssi-info {
	display: none;
}
.upload {
	opacity: 0;
}
span.ssi-InputLabel {
	width: 100%;
	display: block;
	position: absolute;
	top: 0;
}
.ssi-button.success {
	text-indent: -99999px;
	outline: none !important;
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 57px;
	padding: 6px 10px 6px 25px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #f5f5f5;
	background-color: #f5f5f500;
	background-image: none;
	border: none;
	text-transform: uppercase;
	border-radius: 30px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.uploader-note {
	font-size: 11px;
	color: #abaaaa;
	padding-right: 50px;
	line-height: 48px;
}
div#ssi-previewBox {
	display: table;
}
.ssi-imgToUploadTable.ssi-pending {
	width: 60px;
	height: 60px;
	display: block;
	float: left;
	margin-right: 15px;
	border: 1px solid #cccccc;
	background: #efefef;
	padding: 5px;
	position: relative;
	margin-top: 15px;
}
.ssi-upImgTd {
	overflow: hidden;
	line-height: 45px;
}
.ssi-imgToUploadTable.ssi-pending tbody, .ssi-imgToUploadTable.ssi-pending tr, .ssi-imgToUploadTable.ssi-pending td {
	display: block;
	height: 100%;
}
.ssi-imgToUploadTable.ssi-pending tr:nth-child(4) {
	display: none !important;
}
.ssi-imgToUpload {
	max-width: 100%;
	height: auto;
	width: auto;
}
.ssi-removeBtn {
	position: absolute;
	top: -9px;
	width: 20px;
	height: 20px;
	right: -15px;
	background: transparent;
	border: none;
	outline: none !important;
}
.ssi-removeBtn:before {
	content: "\e014";
	top: 0;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	left: 0;
	position: absolute;
	color: #ff0000;
}
.document-item {
	background: url(../images/pdf.png);
	height: 100%;
	width: 100%;
	display: block;
	background-repeat: no-repeat;
}
.d-input .inline-input {
	height: 42px;
	border: 1px solid #e0e0e0;
	padding: 6px 45px;
	margin-top: 2px;
}
.addcar-form-head h4 {
	font-size: 20px;
	font-weight: 400;
}
.addcar-form-head {
	padding-bottom: 20px;
}
.addcar-form-head .top-poplink-addcar a {
	height: 59px;
	background: #f1a226;
	background: -moz-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: -webkit-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: linear-gradient(to right, #f1a226 0%, #ef6624 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1a226', endColorstr='#ef6624', GradientType=1 );
	display: inline-block;
	line-height: 20px;
	color: #fff !important;
	padding: 20px 25px;
	font-size: 14px;
	text-decoration: none !important;
	text-transform: uppercase;
	border-radius: 7px;
}
.top-poplink-addcar a img {
	padding-right: 10px;
	margin-top: -3px;
}
.other-features-list .checkbox-wrap {
	display: inline-block;
	padding-top: 20px;
}
.other-features-list .t-checkbox {
	width: 50%;
	float: left;
	margin-bottom: 15px;
}
.other-features-list {
	padding-left: 30px;
}
.form-sub-heading h4 {
	font-size: 20px;
	color: #000;
	margin-top: 5px;
}
.location-wrap {
	padding-top: 20px;
}
.map-wrap {
	padding-top: 5px;
}
.map-wrap iframe {
	width: 100%;
	height: 280px;
}
.addcar-locationwrap .dropdown-menu {
	position: relative !important;
}
.addcar-s1 .input-select, .addcar-s1 .inline-input {
	min-width: 220px;
}
.addcar-locationwrap {
	margin-top: -20px;
}
.t-checkbox label {
	margin-bottom: 0;
}
.view-forms {
	background: url(../images/form-bg.jpg);
	width: 100%;
	min-height: 1030px;
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
	padding-top: 60px;
	padding-bottom: 60px;
	background-attachment: fixed;
}
.form-wrap {
	position: relative;
	background: #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	-webkit-border-radius: 10px;/*overflow: hidden;*/
}
.short-form {
	min-height: 400px;
	max-width: 650px;
	margin: 0px auto 70px;
}
.mid-form {
	min-height: 400px;
	max-width: 820px;
	margin: 70px auto;
}
.form-heading {
	background: #f1a226;
	background: -moz-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: -webkit-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: linear-gradient(to right, #f1a226 0%, #ef6624 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1a226', endColorstr='#ef6624', GradientType=1 );
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -4px;
}
.form-wrap .form-heading {
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}
.form-heading h2 {
	font-size: 25px;
	line-height: 28px;
	color: #fff;
	margin: 0;
}
.form-heading .heading-title h2 {
	font-size: 25px;
	line-height: 28px;
	color: #fff;
	margin: 0;
	text-align: left;
	padding: 0 30px;
	font-weight: 600;
}
.form-heading .heading-link {
	text-align: right;
}
.form-heading .heading-link a {
	font-size: 17px;
	line-height: 28px;
	color: #fff;
	margin: 0;
	display: block;
	padding: 0 40px;
	font-weight: 300;
}
.form-content {
	padding: 40px 25px 25px 25px;
}
.input-note {
	font-size: 11px;
	color: #abaaaa;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 20px;
}
.pad-top-30 {
	padding-top: 30px;
}
.pad-top-20 {
	padding-top: 20px;
}
.pad-top-10 {
	padding-top: 10px;
}
.t-checkbox {
	position: relative;
	padding-left: 33px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 22px;
	vertical-align: middle;
}
.t-checkbox label {
	cursor: pointer;
	font-size: 12px;
	color: #333333;
	text-transform: uppercase;
}
.t-checkbox label a {
	text-decoration: underline !important;
}
.txt-oringe {
	color: #f06817;
}
.link-forgot {
	color: #f06817;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: underline !important;
}
/* Hide the browser's default checkbox */
.t-checkbox input {
	position: absolute;
	opacity: 0;
}
/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 23px;
	width: 21px;
	background: #f1a226;
	background: -moz-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: -webkit-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: linear-gradient(to right, #f1a226 0%, #ef6624 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1a226', endColorstr='#ef6624', GradientType=1 );
	border-radius: 5px;
	cursor: pointer;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
/* On mouse-over, add a grey background color */
.t-checkbox:hover input ~ .checkmark {
	background-color: #56ae00;
}
/* When the checkbox is checked, add a blue background */
.t-checkbox input:checked ~ .checkmark {
	background-color: #56ae00;
}
.t-checkbox:hover input ~ .checkmark:after {
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.t-checkbox input:checked ~ .checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */
.t-checkbox .checkmark:after {
	left: 4px;
	top: 1px;
	content: "\e013";
	font-family: 'Glyphicons Halflings';
	color: #fff;
	font-size: 14px;
}
.txt-right {
	text-align: right;
}
.activate-wrap {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 35px;
}
.activate-wrap a {
	display: inline-block;
	position: relative;
}
.activate-wrap a span {
	color: #fff;
	background: rgba(0, 0, 0, 0.38);
	text-transform: uppercase;
	position: absolute;
	display: block;
	line-height: 32px;
	font-size: 18px;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	padding: 16%;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 2px solid #ffffff;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.activate-wrap a:hover > img {
	filter: grayscale(100);
	-webkit-filter: grayscale(100);
}
.activate-wrap a:hover > span {
	border: 2px solid #ef6624;
	box-shadow: 0px 0px 200px #000 inset;
	-webkit-box-shadow: 0px 0px 200px #000 inset;
}
.form-wrap .row {
	margin-right: -5px;
	margin-left: -5px;
}
.form-wrap .row div[class^="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}
.icon-wrap {
	position: relative;
}
.icon-wrap span.input-icon {
	position: absolute;
	color: #333333;
	right: auto;
	top: 50%;
	right: 30px;
	margin-top: -9px;
	pointer-events: none;
}
.icon-wrap .form-control {
	padding-right: 45px;
}
.input-note span {
	width: 47%;
	padding-left: 3%;
	display: inline-block;
	padding-bottom: 5px;
}
.input-select {
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.theme-tabs .nav {
	background: #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.30);
	min-height: 54px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	display: block;
	max-width: 711px;
	margin: 0 auto 45px;
}
.theme-tabs .nav li {
	width: 33.33%;
	display: block;
	text-align: center;
	line-height: 34px;
	float: left;
}
.theme-tabs .nav li a {
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.theme-tabs .nav > li > a:hover, .theme-tabs .nav > li > a:focus, .theme-tabs .nav > li.active > a {
	text-decoration: none;
	background: #f1a226;
	background: -moz-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: -webkit-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: linear-gradient(to right, #f1a226 0%, #ef6624 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1a226', endColorstr='#ef6624', GradientType=1 );
	color: #fff;
}
.usegap {
	position: absolute;
}
.input-note a {
	color: #ef6624;
	text-decoration: underline !important;
}
.custom-dropdown .input-file {
	height: 100%;
	line-height: 47px;
	color: #333333 !important;
}
.custom-dropdown .dropdown-backdrop {
	display: none;
}
.custom-dropdown .open > .dropdown-menu {
	display: block;
	width: 100%;
	border-radius: 10px;
	border: 10px solid #f5f5f5;
	padding: 20px 15px;
}
.df-wrap {
	padding-bottom: 15px;
}
.df-wrap .title {
	color: #000;
	font-size: 12px;
	font-weight: 700;
	padding-top: 0;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.airports div[class^="col-"] {
	padding-bottom: 10px;
}
.car-loc-radio {
	padding-bottom: 20px;
}
.t-radio {
	position: relative;
	padding-left: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 5px;
}
/* Hide the browser's default checkbox */
.t-radio input {
	position: absolute;
	opacity: 0;
}
.t-radio label {
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 0;
	cursor: pointer;
}
.car-loc-radio .t-radio {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 0;
	padding-right: 30px;
}
/* Create a custom checkbox */
.radiomark {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 30px;
	background-color: #888888;
	border-radius: 100%;
	cursor: pointer;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
/* On mouse-over, add a grey background color */
.t-radio:hover input ~ .radiomark {
	background: #f1a226;
	background: -moz-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: -webkit-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: linear-gradient(to right, #f1a226 0%, #ef6624 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1a226', endColorstr='#ef6624', GradientType=1 );
	color: #fff;
}
/* When the checkbox is checked, add a blue background */
.t-radio input:checked ~ .radiomark {
	background: #f1a226;
	background: -moz-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: -webkit-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: linear-gradient(to right, #f1a226 0%, #ef6624 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1a226', endColorstr='#ef6624', GradientType=1 );
	color: #fff;
}
.t-radio:hover input ~ .radiomark:after {
/* left: 3px;
    top: 1px;
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    color: #fff;
    font-size: 12px;
	 display: block;*/
}
/* Create the checkmark/indicator (hidden when not checked) */
.radiomark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.t-radio input:checked ~ .radiomark:after {
	display: block;
	background: #fff;
}
/* Style the checkmark/indicator */
.t-radio .radiomark:after {
	left: 50%;
	top: 50%;
	content: "";
	color: #fff;
	font-size: 12px;
	width: 10px;
	height: 10px;
	display: block;
	margin-top: -5px;
	margin-left: -5px;
	border-radius: 100%;
}
.theme-btn2 {
	height: 45px;
	background: #56a006;
	color: #fff;
	border-radius: 40px;
	padding: 10px 30px;
	border: 1px solid #56a006;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	outline: none !important;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.theme-btn2:hover {
	background: #fff;
	color: #56a006;
}
.theme-btn3 {
	height: 45px;
	background: #ef6624;
	color: #fff;
	border-radius: 40px;
	padding: 10px 20px;
	border: 1px solid #ef6624;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	outline: none !important;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.theme-btn3:hover {
	background: #fff;
	color: #ef6624;
}
.other_features .t-checkbox {
	display: inline-block;
	padding-right: 30px;
}
.modal {
	z-index: 105950;
	line-height: 100vh;
	text-align: center;
}
.modal .modal-dialog {
	max-width: 660px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	line-height: 1;
	vertical-align: middle;
	display: inline-block;
	text-align: left;
}
.modal .modal-content {
	border: 10px solid #f5f5f5;
}
.modal h4 {
	font-size: 20px;
	font-weight: 700;
	color: #000;
}
.modal h6 {
	font-size: 18px;
	font-weight: 700;
	color: #000;
}
.modal li {
	color: #777;
	font-size: 16px;
	line-height: 30px;
}
#addcar-terms-modal {
	z-index: 105950;
	line-height: 100vh;
	text-align: center;
}
.addcar-terms-modal .modal-dialog {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	line-height: 1;
	vertical-align: middle;
	display: inline-block;
	margin-top: 0;
	text-align: left;
}
.addcar-terms-modal .close {
	margin-top: -25px;
	color: #fff;
	opacity: 1;
	font-size: 14px;
	font-weight: 400;
	outline: none !important;
}
.addcar-terms-modal .modal-body {
	padding: 0;
}
.msg-icon {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.msg-content {
	padding-left: 30px;
	padding-right: 30px;
}
.msg-content .action-btns {
	padding-bottom: 40px;
}
.msg-icon img {
	margin: 0 auto;
}
.addcar-terms-modal.submission .modal-content {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow: hidden;
	border: none;
}
.submission .modal-header {
	border-color: #f1a226;
	background: #f1a226;
	background: -moz-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: -webkit-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: linear-gradient(to right, #f1a226 0%, #ef6624 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1a226', endColorstr='#ef6624', GradientType=1 );
	color: #fff;
	height: 58px;
	padding: 20px 25px;
	text-transform: uppercase;
}
.submission .modal-header h4 {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
}
.cross {
	position: absolute;
	right: 0;
	top: 0;
	width: 15px;
	height: 15px;
	opacity: 1;
}
.cross:hover {
	opacity: 1;
}
.cross:before, .cross:after {
	position: absolute;
	left: 7px;
	content: ' ';
	height: 16px;
	width: 2px;
	background-color: #fff;
}
.cross:before {
	transform: rotate(45deg);
}
.cross:after {
	transform: rotate(-45deg);
}
.addcar-terms-modal.submission .close {
	position: relative;
	margin-top: 2px;
	color: #fff;
	opacity: 1;
	font-size: 22px;
	font-weight: 400;
	outline: none !important;
}
.msg-content h5 {
	font-size: 18px;
	text-align: center;
	line-height: 32px;
	color: #000;
	padding-bottom: 30px;
}
.accordion .panel-default > .panel-heading {
	border-color: #f1a226;
	background: #f1a226;
	background: -moz-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: -webkit-linear-gradient(left, #f1a226 0%, #ef6624 100%);
	background: linear-gradient(to right, #f1a226 0%, #ef6624 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1a226', endColorstr='#ef6624', GradientType=1 );
	color: #fff;
	height: 58px;
	padding: 0 0;
}
.accordion .panel-default > .panel-heading a {
	font-size: 15px;
	text-transform: uppercase;
	line-height: 40px;
	display: block;
	padding: 10px 20px 10px 25px;
	font-weight: 400;
	color: #fff;
}
.accordion .panel-default > .panel-heading a:after {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0d7";
	float: right;
	width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	color: #fff;
}
.accordion .panel-default > .panel-heading.active a:after {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}
.accordion .panel {
	border: none;
}
.addcar-terms-modal .panel-group {
	margin-bottom: 0;
}
.addcar-terms-modal .panel-group .panel + .panel {
	margin-top: 1px;
}
.addcar-terms-modal .panel-group .panel {
	margin-bottom: 0;
	border-radius: 0;
}
.addcar-terms-modal .panel-heading {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.addcar-terms-modal .panel-body {
	padding: 15px 30px;
}
.addcar-terms-modal .panel-body p {
	line-height: 25px;
}
.addcar-terms-modal .panel-body ul li {
	font-size: 12px;
	font-weight: 400;
	color: #333333;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	position: relative;
}
.addcar-terms-modal .panel-body ul li:before {
	font-family: 'FontAwesome';
	content: "\f178";
	padding-right: 5px;
	position: absolute;
	left: 0;
}
.addcarmodal-check {
	margin-top: 30px;
}
.addcarmodal-check .t-checkbox {
	text-align: left;
}
.addcarmodal-check .t-checkbox label {
	font-size: 12px;
	color: #ffffff;
	text-align: left;
	line-height: 23px;
	margin-bottom: 0;
}
.addcarmodal-check .t-checkbox .checkmark:after {
	top: 3px;
	line-height: 1;
}
.addcar-terms-modal .modal-content {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow: hidden;
	border: 1px solid #f09625;
}
.no-top-bot-margin {
	margin-top: 0px;
	margin-bottom: 0;
}
.bank-detail-ac-type {
	padding-left: 20px;
	padding-right: 20px;
}
.bank-detail-ac-type .title {
	font-size: 12px;
	color: #333333;
	text-transform: uppercase;
	padding-bottom: 25px;
}
.ac-type-radio .t-radio {
	display: inline-block;
	width: 48%;
}
.ac-type-radio .t-radio label {
	line-height: 43px;
	padding-left: 25px;
}
.ac-type-radio .radiomark {
	height: 43px;
	width: 43px;
}
.ac-type-radio .t-radio .radiomark:after {
	width: 14px;
	height: 14px;
	margin-top: -7px;
	margin-left: -7px;
}
.paypal-padding {
	padding-top: 14%;
}
.car-list {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 25px;
	padding-top: 25px;
}
.listing-wrap .car-list:first-child {
	padding-top: 0px;
}
.car-list li {
	width: 24.5%;
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 0 0;
	font-size: 18px;
}
.car-status .approved {
	background: #04a900;
	color: #fff;
	padding: 5px 10px;
	display: inline-block;
}
.car-status .draft {
	display: inline-block;
	background: #FF501F;
	color: #fff;
	padding: 5px 10px;
}
.car-list .make, .car-list .carmodal, .car-list .car-status {
	padding-top: 15px;
}
.car-status span {
	margin-left: 20px;
	padding: 5px 0;
	display: inline-block;
}
.car-status label {
	margin-bottom: 0;
	display: inline-block;
	padding: 5px 0;
}
.theme-btn1.h45 {
	height: 45px;
	line-height: 20px;
	padding: 12px 30px;
}
.listing-pagination .h45 {
	margin-right: 5px;
}
.listing-pagination {
	padding-top: 25px;
}
.pagination-count {
	margin: 10px 0;
}
.cp-c-wrap {
	max-width: 660px;
	margin: 0px auto;
}
.cp-c-wrap {
	padding-bottom: 50px;
	padding-top: 40px;
	text-align: center;
}
.cp-c-wrap a {
	text-decoration: underline !important;
}
.cp-c-wrap p {
	font-size: 15px;
	line-height: 25px;
	font-weight: 400;
}
.cp-c-wrap .centerd-heading1 {
	padding-bottom: 30px;
}
.select2-container {
	width: 100% !important;
}
.inline-select .select2-container {
	min-width: 110px;
}
.addcar-s1 .inline-select .select2-container {
	min-width: 220px;
}
/*inner pages*/


.responsive-menu {
	background: #ef6624;
	display: none;
	position: fixed;
	top: 0px;
	right: -300px;
	width: 300px;
	height: 100%;
	overflow: auto;
	border-bottom-width: 60px;
	border-bottom-style: solid;
	z-index: 99999;
	z-index: 100000;
	border-bottom-color: #ef6624;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}
#body_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background: rgba(0,0,0,.6);
	z-index: 9002;
	display: none;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}
.close-wrapper .close {
	font-size: 26px;
	right: 10px;
	position: relative;
	top: 10px;
	color: #fff;
	text-shadow: none;
	filter: alpha(opacity=100);
	opacity: 1;
}
.close-wrapper {
	height: 65px;
	color: #fff;
}
.r-links li {
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(212, 69, 0, 0.86);
}
.r-links li:last-child {
	border-bottom: 0px solid rgba(212, 69, 0, 0.86);
}
.r-links li a {
	padding: 10px 0;
	display: block;
	color: #fff;
	text-transform: uppercase;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}
.r-links li a:hover {
	color: #2d1f12;
}
.r-links {
	color: #fff;
}
.r-links li {
	margin-bottom: 10px;
	padding: 0 25px;
	border-bottom: 1px solid rgba(212, 69, 0, 0.86);
}
.profiler {
	padding: 0 25px 25px;
}
.profiler .login-user {
	color: #fff;
	text-align: center;
	font-size: 18px
}
.profiler .login-user i {
	font-size: 40px;
	display: block;
	height: 70px;
	width: 70px;
	margin: 0 auto 15px;
	border: 1px solid #d2d2d2;
	line-height: 70px;
	text-align: center;
	border-radius: 100%;
}
.mobile-menu-icon {
	display: none;
}

@media (max-width:1830px) {
.h-sect1-row2-img {
	background-position: 155% center;
	height: 825px;
}
}

@media (max-width:1360px) {
.h-sect1-row2 .col-sm-7 {
	width: 50%;
}
.h-sect1 {
	height: 530px;
}
}

@media (max-width:1289px) {
.h-sect6 .h-s6-img {
	width: 43%;
}
.h-sect6 .h-s6-c {
	width: 57%;
}
.h-sect6 .h-s6-c p {
	margin-bottom: 15px;
}
p {
	font-size: 16px;
}
.left-heading1 h2 {
	font-size: 36px;
}
.b-f-col-2 {
	width: 295px;
}
.b-f-col-1 {
	width: 380px;
}
.info-links a {
	padding: 5px 10px;
}
.lang-chnager {
	min-width: 80px;
}
.h-sect1-row2-img {
	background-position: 180% center;
	background-size: auto 80%;
}
}

@media (max-width:1199px) {
.step2-row4 .t-checkbox label {
	font-size: 10px;
}
.pdr .col-sm-9 {
	width: 60%;
}
.pdr .col-sm-3 {
	width: 40%;
}
.mdrp .icon-wrap {
	width: 100%;
}
.s2-6-price-sect .col-sm-6 {
	width: 100%;
}
.addcar-s1 .inline-select .select2-container {
	min-width: 180px;
}
.addcar-s1 .d-c {
	width: 50%;
}
.addcar-s1 .d-label {
	width: 50%;
}
.addcar-s1 .input-select, .addcar-s1 .inline-input {
	min-width: 180px;
}
.heading-4 h4 {
	font-size: 11px;
}
.heading-btn {
	font-size: 10px;
	padding: 7px 10px;
	max-width: 180px;
}
.pricing-input-warp h5 {
	font-size: 10px;
}
.h-sect1-row2-img {
	background-position: 180% center;
	background-size: auto 70%;
}
.banner-heading h2 {
	font-size: 45px;
	line-height: 50px;
}
.bot-banner-txt {
	font-size: 24px;
}
.h-sect6 .h-s6-img {
	width: 40%;
}
.h-sect6 .h-s6-c {
	width: 60%;
}
.theme-btn1 {
	font-size: 12px;
	padding: 12px 30px;
}
.b2 {
	margin-left: 5px;
}
.info-links a {
	font-size: 12px;
}
.login-links a {
	font-size: 12px;
	min-width: 90px;
}
.etc-links a {
	font-size: 12px;
	margin-right: 5px;
}
.lang-chnager {
	min-width: 0px;
}
.lang-chnager a {
	font-size: 16px;
}
.hiw-icon {
	padding: 15px 8%;
}
.hiw-icon h4 {
	font-size: 18px;
}
}

@media (max-width:991px) {
.step3-wrap .col-sm-5 {
	width: 100%;
}
.step3-wrap .col-sm-7 {
	width: 100%;
}
.step3-wrap .col-sm-3 {
	width: 100%;
}
.step3-wrap .col-sm-2 {
	width: 100%;
}
.step2-wrap .heading-4 h4 {
	font-size: 10px;
}
.price-right-warp {
	border-left: none;
}
.unlimitedKm .t-checkbox label {
	font-size: 10px;
}
.step2-row5 .s2 .icon-wrap {
	width: 100%;
	max-width: 160px;
}
.pricing-input-warp h5 {
	font-size: 8px;
}
.step2-row4 .colleft, .step2-row4 .colcenter {
	width: 50%;
}
.step2-row4 .colright {
	width: 100%;
}
.gas-policy {
	border-left: none;
	border-top: 1px solid #ccc;
	min-height: 0 !important;
}
.step2-row6 .col-sm-3 {
	width: 45%;
}
.step2-row6 .col-sm-9 {
	width: 55%;
}
.row.deliveryrow .col-sm-3 {
	width: 33.3%;
}
.heading-btn {
	font-size: 10px;
}
.price-right-warp .icon-wrap {
	max-width: 250px;
}
.step2-row3 .row-heading > .col-sm-8 {
	width: 100%;
}
.step2-row3 .row-heading > .col-sm-4 {
	display: none;
}
.step2-row3 .row-body-pricing > .col-sm-8, .step2-row3 .row-body-pricing > .col-sm-4 {
	width: 100%;
}
.step2-row1 .col-sm-4, .step2-row2 .col-sm-4, .step2-row5 .col-sm-4 {
	width: 40%;
}
.step2-row1 .col-sm-8, .step2-row2 .col-sm-8, .step2-row5 .col-sm-8 {
	width: 60%;
}
.pricing-input-warp .form-control, .price-right-warp .form-control, .s2 .form-control {
	font-size: 8px;
}
.mdrp .select2-container--default .select2-selection--single {
	font-size: 10px;
}
.addcar-s1 .col-sm-6 {
	width: 100%;
	clear: both;
	float: none;
}
.steps ul {
	max-width: 700px;
}
.steps ul li {
	width: 32.7%;
}
.form-group .col-sm-6:first-child {
	margin-bottom: 30px;
}
.custom-dropdown {
	display: inline-block;
}
.addcar-terms-modal .modal-dialog {
	padding-left: 15px;
	padding-right: 15px;
}
.car-list li {
	width: 24.5%;
	font-size: 14px;
}
.theme-btn3 {
	height: 40px;
	padding: 8px 18px;
	font-size: 12px;
}
.mobile-menu-icon {
	text-align: right;
	display: block;
}
.mobile-menu-icon a {
	font-size: 30px;
}
.h-top-right {
	display: none;
}
.responsive-menu {
	display: block;
}
.responsive-menu.active {
	right: 0 !important;
}
#body_overlay.active {
	display: block;
}
.header .col-sm-3 {
	width: 70%;
}
.header .col-sm-9 {
	width: 30%;
}
.mobile-menu-icon i {
	display: block;
}
.header {
	padding-top: 30px;
	padding-bottom: 30px;
}
.banner-heading h2 {
	font-size: 34px;
	line-height: 40px;
}
.bot-banner-txt {
	font-size: 20px;
}
.c1 p {
	font-size: 16px;
}
.centerd-heading1 h2 {
	font-size: 36px;
	line-height: 38px;
}
.h-sect1-row2-img {
	background-position: 190% center;
	background-size: auto 70%;
	height: 100%;
	top: 45px;
}
.h-sect6 {
	padding-top: 125px;
}
.h-s6-c .theme-btn1 {
	font-size: 12px;
	padding: 12px 30px;
	display: block;
	margin-bottom: 10px;
	margin-left: 0 !important;
}
.h-sect1 {
	height: auto;
}
.h-s-brown .centerd-heading1 p, .h-s-map .centerd-heading1 p {
	font-size: 16px;
}
.arrow-style li {
	font-size: 16px;
}
.car-icon h4 {
	font-size: 20px;
}
.hiw-icon {
	padding: 15px 15px;
}
.hiw > .col-sm-6::before {
	left: 19%;
	font-size: 185px;
}
.copyrights p {
	font-size: 16px;
}
.ban-subh {
	font-size: 16px;
}
}

@media (max-width:800px) {
.h-sect1-row2-img {
	background-position: 190% center;
	background-size: auto 60%;
	height: 100%;
}
}

@media (max-width:767px) {
div#ssi-previewBox {
	padding-top: 30px;
}
.step3-wrap .custom-uploader .d-input .d-label {
	width: 90%;
}
.step3-wrap .d-input .d-c {
	width: 100%;
}
.step2-row1 .col-sm-4, .step2-row2 .col-sm-4, .step2-row5 .col-sm-4 {
	width: 100%;
}
.step2-row1 .col-sm-8, .step2-row2 .col-sm-8, .step2-row5 .col-sm-8 {
	width: 100%;
}
.step2-row6 .col-sm-3 {
	width: 100%;
	margin-bottom: 20px;
}
.step2-row6 .col-sm-9 {
	width: 100%;
}
.step2-row6 .input-note {
	line-height: 20px;
	padding-top: 0;
	padding-left: 0;
}
.step2-row5 .s2 {
	margin-bottom: 20px;
}
.row.deliveryrow .col-sm-3 {
	width: 100%;
}
.airport_free_delivery, .area1_free_delivery, .area2_free_delivery {
	padding-top: 15px;
}
.step2-row4 .colleft, .step2-row4 .colcenter {
	width: 100%;
}
.price-discount {
	border-right: none;
	padding-right: 0;
	padding-top: 15px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}
.price-discount, .is-smoking-allowed, .gas-policy {
	min-height: 0;
	padding-bottom: 20px;
}
.pdr .col-sm-9 {
	width: 100%;
	margin-bottom: 10px;
}
.pdr .col-sm-9 {
	width: 100%;
	margin-bottom: 10px;
}
.pdr-note {
	font-size: 12px;
}
.row.row-heading {
	width: 30%;
	float: left;
	margin-top: 20px;
}
.row.row-body-pricing {
	float: left;
	width: 70%;
}
.heading-btn {
	font-size: 10px;
	min-height: 190px;
	margin-bottom: 10px;
	border-radius: 0;
	padding-top: 30px;
}
.step2-row4 .t-checkbox label {
	font-size: 12px;
}
.step2-wrap .heading-4 h4 {
	font-size: 12px;
}
.pricing-input-warp .form-control, .price-right-warp .form-control, .s2 .form-control {
	font-size: 12px;
}
.mdrp .select2-container--default .select2-selection--single {
	font-size: 12px;
}
.addcar-s1 .d-label {
	width: 100%;
}
.addcar-s1 .d-c {
	width: 100%;
}
.custom-uploader .d-label {
	width: 100%;
	line-height: 48px;
	float: none;
}
.custom-uploader .d-c {
	display: inline-block;
	text-align: left;
	width: 100%;
	float: none;
}
.uploader-note {
	font-size: 10px;
	color: #abaaaa;
	padding-right: 0;
	line-height: 1;
	width: 100%;
	text-align: left;
	padding-left: 0;
	margin-top: 10px;
	margin-left: -10px;
}
.custom-uploader .input-note {
	margin-top: 10px;
}
.inline-select .select2-container {
	min-width: 100px;
}
/*.d-c {
    text-align: right;
    float: left;
    width: 100%;
    margin-top: 2px;
    margin-left: -5px;
}*/
.input-note {
	clear: both;
}
.inline-select {
	display: inline-block;
	padding-left: 0;
	width: 100%;
}
.d-input {
	min-height: 57px;
	background-color: transparent;
	height: auto;
	padding: 0;
}
.d-label {
	width: 100%;
	line-height: 1;
	margin-bottom: 5px;
	padding-left: 25px;
}
.d-c {
	width: 100%;
	float: none;
}
.custom-uploader .d-input {
	height: 57px;
	background-color: #f5f5f5;
	min-height: 0;
	padding: 6px 10px 6px 25px;
}
.custom-uploader .d-input .d-label {
	width: 70%;
	margin-bottom: 0px;
	line-height: 48px;
	padding-left: 0px;
}
.dob .inline-select {
	width: 32.5%;
}
.inline-select.phonecode {
	width: 33%;
}
.inline-select.phonenumber {
	width: 66%;
}
.form-group .d-c span.select2-selection.select2-selection--single {
	height: 56px;
	border: none;
	padding: 8px 30px 6px 20px !important;
	margin-top: 2px;
	line-height: 57px;
	text-align: left;
}
.phonecode input {
	height: 57px;
	border: none;
}
.phonenumber input {
	height: 57px;
	border: none;
}
.phonecode:before {
	top: 40%;
}
.d-input .inline-input {
	height: 57px;
	border: none;
}
.custom-dropdown {
	display: inline-block;
}
.listing-wrap {
	display: inline-block;
	width: 100%;
}
ul.car-list {
	max-width: 33%;
	margin: 0 auto;
	border-bottom: none !important;
	padding: 20px !important;
	margin-bottom: 1px;
	float: left;
	margin-right: 1px;
	background: #f0f0f0;
}
.car-list li {
	width: 100%;
	font-size: 14px;
}
.form-group .col-sm-6:first-child {
	margin-bottom: 30px;
}
.header .col-sm-3 {
	width: 70%;
	float: left;
}
.header .col-sm-9 {
	width: 30%;
	float: left;
}
.banner-heading h2 {
	font-size: 28px;
	line-height: 32px;
}
.ban-subh {
	font-size: 14px;
}
.bot-banner-txt {
	font-size: 14px;
}
.centerd-heading1 h2 {
	font-size: 28px;
	line-height: 32px;
}
.h-sect1-row2-img {
	background-position: 100% center;
	background-size: auto 100%;
	height: 370px;
	position: relative;
	margin-top: -100px;
	right: 0;
	width: 100%;
	top: -2px;
}
.h-sect1-row2 .col-sm-7 {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 60px;
}
.h-sect6 {
	padding-top: 60px;
}
.h-sect6 .h-s6-img {
	width: auto;
	max-width: 615px;
	margin: 0 auto 40px;
}
.h-sect6 .h-s6-c {
	width: 100%;
}
.c1 p {
	font-size: 14px;
}
.left-heading1 h2 {
	font-size: 28px;
}
.car-status {
	font-size: 10px;
}
.step-text {
	font-size: 12px;
}
.steps ul {
	max-width: 300px;
	width: 300px;
}
.steps ul li {
	width: 32%;
}
.step-count {
	width: 40px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
}
.steps a.active .step-count:before {
	width: 40px;
	height: 40px;
}
.step-count:before {
	width: 40px;
	height: 40px;
}
.steps ul:before {
	height: 5px;
	bottom: 50px;
}
}

@media (max-width:640px) {
.row-heading .row {
	padding-left: 0px;
	padding-right: 10px;
}
.addcar-form-head h4 {
	padding-bottom: 30px;
}
.steps {
	padding-bottom: 20px;
}
.addcar-form-head .top-poplink-addcar a {
	font-size: 10px;
}
.car-list li {
	width: 100%;
	font-size: 12px;
}
ul.car-list {
	max-width: 49.5%;
}
}

@media (max-width:480px) {
.pricing-input-warp .row {
	padding-left: 10px;
	padding-right: 0px;
}
.step2-row3 {
	margin-left: 0;
	margin-right: 0;
}
.pricing-input-warp .form-control, .price-right-warp .form-control, .s2 .form-control {
	font-size: 8px;
}
.banner-heading h2 {
	font-size: 22px;
	line-height: 30px;
}
.ban-subh {
	font-size: 12px;
}
.bot-banner-txt {
	font-size: 12px;
}
.arrow-style li {
	font-size: 14px;
}
.hiw > .col-sm-6::before {
	left: 26%;
	font-size: 145px;
	top: 40px;
}
.footer-links li a, .footer-links li span {
	font-size: 10px;
}
.copyrights p {
	font-size: 12px;
}
.h-sect1-row2-img {
	height: 270px;
	margin-top: -80px;
	top: -2px;
}
.h-sect-01 {
	padding-bottom: 60px;
}
.centerd-heading2 h2 {
	font-size: 40px;
	line-height: 45px
}
.theme-btn1 {
	word-wrap: break-word;
	min-height: 50px;
	white-space: pre-wrap;
	height: auto;
	line-height: 1;
	padding-top: 18px !important;
}
input.theme-btn1, .form-wrap .theme-btn1 {
	padding-top: 12px !important;
}
.form-wrap .theme-btn1, .form-wrap .theme-btngray {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.google-login a, .facebook-login a {
	font-size: 10px;
}
}

@media (max-width:479px) {
.step3-wrap .custom-uploader .d-input .d-label {
	font-size: 8px;
}
.other-features-list .t-checkbox {
	width: 100%;
}
.top-poplink-addcar a img {
	max-width: 32px;
}
}

@media (max-width:430px) {
ul.car-list {
	max-width: 100%;
	margin-right: 0;
}
.theme-tabs .nav li a {
	font-size: 10px;
}
.dob .inline-select, .inline-select.phonecode, .inline-select.phonenumber {
	width: 100%;
}
.d-input, .form-control, .form-group .select2-container--default .select2-selection--single {
	font-size: 11px;
}
.input-note.top-poplink-addcar {
	padding-left: 0 !important;
}
.addcar-form-head .top-poplink-addcar a {
	font-size: 10px;
	padding: 20px 15px;
}
}

@media (max-width:360px) {
.addcar-form-head .top-poplink-addcar a {
	font-size: 12px;
	padding: 12px 15px;
}
.form-content {
	padding: 40px 10px 25px 10px;
}
.banner-heading h2 {
	font-size: 20px;
	line-height: 30px;
}
.uploader-note {
	font-size: 8px;
}
.input-note {
	font-size: 8px;
}
}


