html, body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding: 0;
}

.nbg {
	
	background: url(../images/form-bg.jpg);
	width: 100%;
	min-height: 1400px;
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: contain;
	padding-top: 0;
	padding-bottom: 60px;

	
}

.n-wrap { max-width: 1027px; margin: 0 auto; background: #fff; min-height: 1100px;
	border-bottom: 20px solid #f06625;
box-sizing: border-box;
-webkit-box-sizing: border-box;
	    box-shadow: 3px 3px 32px rgba(0, 0, 0, 0.08), 3px -3px 32px rgba(0, 0, 0, 0.08);

}
.nc-wrap { padding-left:45px; padding-right: 45px; padding-top: 60px; }
.nc-m-wrap { padding-left:25px; padding-right: 25px;  }

.c-title { color:#000000; font-size: 18px;  padding-bottom: 50px;}
.nc-m-wrap p { color:#000000; font-size: 18px;    margin-top: 0; margin-bottom: 0; padding-bottom: 10px;}
.c-team {color:#000000; font-size: 18px; padding-bottom: 50px; padding-top: 40px; }
.etc-msg { font-size: 14px; color: #a39f9e; }
.etc-msg p{ font-size: 14px; color: #a39f9e; margin-top: 0; margin-bottom: 0; padding-bottom: 10px;}
.mfmt { padding-top: 25px;}


.j-us {font-size: 14px; padding-top: 40px; color: #a39f9e; margin-top: 0; margin-bottom: 0; }
.footer {
	border-top: 1px solid #f2f2f2;


	text-align: center;
	padding-top: 40px;
	margin-top: 40px;
	padding-bottom: 30px;
}
.footer p {
	color: #000;
	text-transform: uppercase;
}
.footer p a {
	color: #f06817;
	text-decoration: none;
}
a {text-decoration: none !important;}
.centerd-heading2 {
	text-align: center;
}
.centerd-heading2 h2 {
	font-size: 52px;
	line-height: 55px;
	color: #f06426;
	display: inline-block;
	position: relative;
	border-bottom: 1px solid #ef6624;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 300;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
}
.social ul li {
	display: inline-block;
	padding: 5px 15px;
}
.social ul li:first-child {
	padding-left: 10px;
}
.footer-links {
	padding-top: 5px;
	
}
.footer-links ul { padding: 0;} 
.footer-links li {
	display: inline-block;
}
.footer-links li a, .footer-links li span {
	color: #000;
	text-transform: uppercase;
	font-size: 12px;
	padding: 5px 5px;
}
.oringe-text {
	color: #f1a226;
}

